aside.sidenav
  .container 
    .row 
      .logo.ms-2.my-4
        img(src="assets/img/dest/logo.svg", alt="logo")
      ul.sidenav-list 
        li.sidenav__item.mb-1.btn-group.dropend
          button.sidenav__btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            .sidenav-wrap
              img.sidenav__icon(src="assets/img/dest/sofa-2.svg", alt="icon")
              span.ms-1 Диваны и кресла
            img.sidenav__shevron(src="assets/img/dest/Rectangle 26.svg", alt="icon")
          ul.dropdown-menu
            li.dropdown-menu__item-title.my-3 
              p Диваны и кресла
            li.dropdown-menu__item.my-3 Все диваны
            li.dropdown-menu__item.my-3 Диваны-кровати
            li.dropdown-menu__item.my-3 Угловые кожаные диваны
            li.dropdown-menu__item.my-3 Угловые тканевые диваны
            li.dropdown-menu__item.my-3 Прямые кожаные диваны
            li.dropdown-menu__item.my-3 Прямые тканевые диваны
            li.dropdown-menu__item.my-3 Кресла для гостиной
            li.dropdown-menu__item.my-3 Кресла-груши
            li.dropdown-menu__item.my-3 Офисные кресла
            li.dropdown-menu__item.my-3 Пуфы и банкетыки
        li.sidenav__item.mb-1.btn-group.dropend
          button.sidenav__btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            .sidenav-wrap
              img.sidenav__icon(src="assets/img/dest/closet-2.svg", alt="icon")
              span.ms-1 Шкафы
            img.sidenav__shevron(src="assets/img/dest/Rectangle 26.svg", alt="icon")
          ul.dropdown-menu
        li.sidenav__item.mb-1.btn-group.dropend
          button.sidenav__btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            .sidenav-wrap
              img.sidenav__icon(src="assets/img/dest/kitchen-2.svg", alt="icon")
              span.ms-1 Мебель для кухни
            img.sidenav__shevron(src="assets/img/dest/Rectangle 26.svg", alt="icon")
          ul.dropdown-menu
        li.sidenav__item.mb-1.btn-group.dropend
          button.sidenav__btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            .sidenav-wrap
              img.sidenav__icon(src="assets/img/dest/bedroom-3.svg", alt="icon")
              span.ms-1 Спальни
            img.sidenav__shevron(src="assets/img/dest/Rectangle 26.svg", alt="icon")
          ul.dropdown-menu
        li.sidenav__item.mb-1.btn-group.dropend
          button.sidenav__btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            .sidenav-wrap
              img.sidenav__icon(src="assets/img/dest/hall-4.svg", alt="icon")
              span.ms-1 Мебель для прихожей
            img.sidenav__shevron(src="assets/img/dest/Rectangle 26.svg", alt="icon")
          ul.dropdown-menu
        li.sidenav__item.mb-1.btn-group.dropend
          button.sidenav__btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            .sidenav-wrap
              img.sidenav__icon(src="assets/img/dest/child-2.svg", alt="icon")
              span.ms-1 Детская мебель
            img.sidenav__shevron(src="assets/img/dest/Rectangle 26.svg", alt="icon")
          ul.dropdown-menu
        li.sidenav__item.mb-1.btn-group.dropend
          button.sidenav__btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            .sidenav-wrap
              img.sidenav__icon(src="assets/img/dest/table-3.svg", alt="icon")
              span.ms-1 Столы и стулья
            img.sidenav__shevron(src="assets/img/dest/Rectangle 26.svg", alt="icon")
          ul.dropdown-menu
        li.sidenav__item.mb-1.btn-group.dropend
          button.sidenav__btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            .sidenav-wrap
              img.sidenav__icon(src="assets/img/dest/office-3.svg", alt="icon")
              span.ms-1 Офисная мебель
            img.sidenav__shevron(src="assets/img/dest/Rectangle 26.svg", alt="icon")
          ul.dropdown-menu
        li.sidenav__item.mb-1.btn-group.dropend
          button.sidenav__btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            .sidenav-wrap
              img.sidenav__icon(src="assets/img/dest/rotang-3.svg", alt="icon")
              span.ms-1 Мебель из ротанга
          ul.dropdown-menu
        li.sidenav__item.mb-1.btn-group.dropend
          button.sidenav__btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            .sidenav-wrap
              img.sidenav__icon(src="assets/img/dest/premium-3.1.svg", alt="icon")
              span.ms-1 Мебель премиум-класса
          ul.dropdown-menu
        li.sidenav__item.mt-3.btn-group.dropend
          button.sidenav__btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            .sidenav-wrap
              img.sidenav__icon(src="assets/img/dest/more-2.svg", alt="icon")
              span.ms-1 Условия покупки
            img.sidenav__shevron(src="assets/img/dest/Rectangle 26.svg", alt="icon")
          ul.dropdown-menu
            li.dropdown-menu__item-title.my-3 
              p Условия покупки
            li.dropdown-menu__item.my-3 Рассрочка
            li.dropdown-menu__item.my-3 Оплата
            li.dropdown-menu__item.my-3 Гарантия
            li.dropdown-menu__item.my-3 Доставка и сборка