footer.mt-5
  .container 
    .row 
      .col-12 
        .shops
          svg(width='14' height='20' fill='none' xmlns='http://www.w3.org/2000/svg')
            path.shops-icon(d='M7 4.5a2.5 2.5 0 010 5 2.5 2.5 0 010-5zM7 0c3.87 0 7 3.13 7 7 0 4.208-4.496 10.021-6.282 12.164a.926.926 0 01-1.436 0C4.496 17.02 0 11.208 0 7c0-3.87 3.13-7 7-7zm0 2C4.24 2 2 4.24 2 7c0 1 0 3 5 9.71C12 10 12 8 12 7c0-2.76-2.24-5-5-5z' fill='#1A1A1A')
          span.ms-2 Магазины
    .row 
      .col-md-3.col-sm-6.text-start
        h6.mt-3.text Как мы работаем?
        h6.mt-3.text-grey О нас
        h6.mt-3.text-grey Сборка и доставка
        h6.mt-3.text-grey Оплата и возврат
        h6.mt-3.text-grey Гарантия
        h6.mt-3.text-grey Рассрочка
      .col-md-3.col-sm-6.text-start
        h6.mt-3 Другая информация
        h6.mt-3.text-grey Блог
        h6.mt-3.text-grey Контакты
        h6.mt-3.text-grey Социальные сети
        h6.mt-3.text-grey Бренды мебели
        h6.mt-3.text-grey Карта сайта
      .col-md-3.col-sm-6.text-start
        h6.mt-3.text Сотрудничество
        h6.mt-3.text-grey Поставщикам
        h6.mt-3.text-grey Оптовикам
        h6.mt-3.text-grey Франчайзинг
        h6.mt-3.text-grey Подписка
      .col-md-3.col-sm-6.text-start
        h6.mt-3.text Отзывы о нас
        .review-wrap.d-flex.flex-row.mt-3.justify-content-between
          img(src="assets/img/dest/image 12.svg", alt="review-icon")
          .review-score 
            i.bi.bi-star-fill.review__icon_fill.ms-1
            i.bi.bi-star-fill.review__icon_fill.ms-1
            i.bi.bi-star-fill.review__icon_fill.ms-1
            i.bi.bi-star-fill.review__icon_fill.ms-1
            i.bi.bi-star-fill.review__icon_unfill.ms-1
        .review-wrap.d-flex.flex-row.mt-3.justify-content-between
          img(src="assets/img/dest/image 14.svg", alt="review-icon")
          .review-score 
            i.bi.bi-star-fill.review__icon_fill.ms-1
            i.bi.bi-star-fill.review__icon_fill.ms-1
            i.bi.bi-star-fill.review__icon_fill.ms-1
            i.bi.bi-star-fill.review__icon_fill.ms-1
            i.bi.bi-star-fill.review__icon_unfill.ms-1
        .review-wrap.d-flex.flex-row.mt-3.justify-content-between
          img(src="assets/img/dest/image 16.svg", alt="review-icon")
          .review-score 
            i.bi.bi-star-fill.review__icon_fill.ms-1
            i.bi.bi-star-fill.review__icon_fill.ms-1
            i.bi.bi-star-fill.review__icon_fill.ms-1
            i.bi.bi-star-fill.review__icon_fill.ms-1
            i.bi.bi-star-half.review__icon_fill.ms-1
    .row.mt-3
      .col-md-3.col-sm-12 
        h6.mt-3 Мы в соцсетях
        img.me-2(src="assets/img/dest/vk.svg", alt="social-icon")
        img.me-2(src="assets/img/dest/youtube.svg", alt="social-icon")
        img.me-2(src="assets/img/dest/instagram.svg", alt="social-icon")
        img.me-2(src="assets/img/dest/Frame 75.svg", alt="social-icon")
        img.me-2(src="assets/img/dest/Frame 76.svg", alt="social-icon")
      .col-md-9.col-sm-12
        h6.mt-3 Мы принимаем к оплате
        img.me-4(src="assets/img/dest/mc_symbol 1.svg", alt="pay-icon")
        img.me-4(src="assets/img/dest/image 11.svg", alt="pay-icon")
        img.me-4(src="assets/img/dest/Frame.svg", alt="pay-icon")
        img.me-4(src="assets/img/dest/Frame(1).svg", alt="pay-icon")
    .row.mt-5 
      .col-12
      p.conf-politic Политика конфиденциальности
      .col-12
      p.conf-politic &copy; 2010-2020 Интернет-магазин мебели и товаров для дома.